Assignment5/App_WebReferences/VenueLoginService/VenueLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VenueLoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17842/VenueLoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17842/VenueLoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17842/VenueLoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVenueLoginService_RegisterVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVenue" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_RegisterVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVenueResponse" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IVenueLoginService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IVenueLoginService">
    <wsdl:operation name="RegisterVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginService/RegisterVenue" message="tns:IVenueLoginService_RegisterVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginService/RegisterVenueResponse" message="tns:IVenueLoginService_RegisterVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IVenueLoginService/Login" message="tns:IVenueLoginService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVenueLoginService/LoginResponse" message="tns:IVenueLoginService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVenueLoginService" type="tns:IVenueLoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterVenue">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginService/RegisterVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IVenueLoginService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VenueLoginService">
    <wsdl:port name="BasicHttpBinding_IVenueLoginService" binding="tns:BasicHttpBinding_IVenueLoginService">
      <soap:address location="http://localhost:17842/VenueLoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>